* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 10%;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    /* text-decoration: underline; */
    text-align: left;
    text-indent: 2em;

}